<% include ./partials/header %>
<div class="about">
    <h3>About</h3>
    <div class="row">
        <h5>The chip manufacturing flow and testing system</h5>
        <div class="col s12 m6">
            <img class="about-img" src="/assets/images/intelvietnam.png" alt="intel-vietnam">
        </div>
        <div class="col s12 m6">
            <img class="about-img" src="/assets/images/hdmt.png" alt="hdmt">
        </div>
    </div>

    <div class="row">
        <p>
            HDMT is a Test system consisting of multiple testers to perform chip’s testing (functionality, circuitry or
            features)
            in parellel.
            The peformance of individual tester needs to be closely monitored. When anyone is DOWN, it must be
            detected
            and repaired as soon as possible.
            The dashboard extracts information about individual tester's state (Up/Down) from machine generated log
            files and visualizes into charts so users
            (technicians or engineers) can monitor the performance and respond to any problematic tester in a
            timely
            maner without the need to be physically present at the machine.
        </p>
    </div>
</div>
<% include ./partials/footer %>